[submodule "Patches/DivestOS_Wallpapers"]
	path = Patches/Wallpapers
	url = personal-lan-git:tad/dos/Wallpapers.git
[submodule "Patches/Linux"]
	path = Patches/Linux
	url = git@gitlab.com:divested/kernel_patches.git
[submodule "PrebuiltApps"]
	path = PrebuiltApps
	url = personal-lan-git:tad/dos/PrebuiltApps.git
