[submodule "Patches/DivestOS_Wallpapers"]
	path = Patches/Wallpapers
	url = ssh://git@10.0.1.5:2222/DivestOS/Wallpapers.git
[submodule "Patches/Linux"]
	path = Patches/Linux
	url = ssh://git@10.0.1.5:2222/DivestOS/Linux_Patches.git
[submodule "Patches/Android"]
	path = Patches/Android
	url = ssh://git@10.0.1.5:2222/DivestOS/Android_Patches.git
